<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHjXDCY92yfx2q_hg5c-t1HCW-XPTOYNc</string>
	<key>GCM_SENDER_ID</key>
	<string>278305391973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coupleNote</string>
	<key>PROJECT_ID</key>
	<string>couple-alarm-569c8
</string>
	<key>STORAGE_BUCKET</key>
	<string>couple-alarm-569c8
.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278305391973:ios:54cfe9d0ce988831248d8c</string>
</dict>
</plist>